bin/Debug/net8.0/OOP-dung.vd.deps.json
bin/Debug/net8.0/OOP-dung.vd.dll
bin/Debug/net8.0/OOP-dung.vd.exe
bin/Debug/net8.0/OOP-dung.vd.pdb
bin/Debug/net8.0/OOP-dung.vd.runtimeconfig.json
obj/OOP-dung.vd.csproj.nuget.dgspec.json
obj/OOP-dung.vd.csproj.nuget.g.props
obj/OOP-dung.vd.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/OOP-dung.vd.AssemblyInfo.cs
obj/Debug/net8.0/OOP-dung.vd.AssemblyInfoInputs.cache
obj/Debug/net8.0/OOP-dung.vd.assets.cache
obj/Debug/net8.0/OOP-dung.vd.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/OOP-dung.vd.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/OOP-dung.vd.csproj.FileListAbsolute.txt
obj/Debug/net8.0/OOP-dung.vd.dll
obj/Debug/net8.0/OOP-dung.vd.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/OOP-dung.vd.genruntimeconfig.cache
obj/Debug/net8.0/OOP-dung.vd.GlobalUsings.g.cs
obj/Debug/net8.0/OOP-dung.vd.pdb
obj/Debug/net8.0/ref/OOP-dung.vd.dll
obj/Debug/net8.0/refint/OOP-dung.vd.dll
OOP-dung.vd.csproj
OOP-dung.vd.generated.sln
